
@{
    Layout = null;
}

<div class="row">
    <div class="x_content">
        <div data-parsley-validate id="formValidate" class="form-horizontal form-label-left">


            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Tipo de documento", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                    <select class="js-example-basic-single select2_group form-control" id="documento" style="width:100%">
                        <option value="-1">Seleccione</option>
                        <option value="1">Cédula</option>
                        <option value="2">Otro</option>
                    </select>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Número", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                    <input id="numero" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" autocomplete="off" disabled style="text-transform:uppercase" required="required">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Nombre", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                    <input id="nombre" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="50" autocomplete="off" required="required">
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Apellido", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                    <input id="apellido" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="50" autocomplete="off" required="required">
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Html.Label("RUC", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                    <input id="ruc" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="14" autocomplete="off" style="text-transform:uppercase">
                </div>

                <div class="col-md-5 col-sm-5 col-xs-12">
                    @Html.Label("Correo Electrónico", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                    <input id="email" class="form-control col-md-2 col-sm-2 col-xs-2" type="email" data-parsley-type="email" maxlength="50" autocomplete="off" required="required">
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    @Html.Label("Teléfono", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                    <input id="telefono" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="9" autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <div class="ln_solid"></div>

                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                    <a onclick="CerrarModal()" class="btn btn-primary">Cerrar</a>
                    <button type="button" onclick="saveCustomer()" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //INICIALIZAR EL SELECT2
    $('.js-example-basic-single').select2({
        //MODIFICAR LAS FRASES DEFAULT DE SELECT2
        language: {

            noResults: function () {

                return "No hay resultado";
            },
            searching: function () {

                return "Buscando...";
            }
        }
    });

    //MASCARA DE NUMERO TELEFONICO
    $("#telefono").mask("A000-0000", {
        translation: {
            'A': { pattern: /[5-7-8]/ }
        }
    });

    //MASCARA PARA EL NUMERO RUC
    $("#ruc").mask("A00CDEF000000B", {
        translation: {
            'A': { pattern: /[0-6]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
            'B': { pattern: /[A-Za-z]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
            'C': { pattern: /[0-3]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
            'D': { pattern: /[0-9]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
            'E': { pattern: /[0-1]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
            'F': { pattern: /[0-9]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
            /*
             FORMATO DE RUC - PRIMERA LETRA
             PERSONA JURIDICA : J
             PERSONA NATURAL SIN CEDULA : N
             PERSONA NATURAL CON CEDULA : NUMERO DE CEDULA ( 0 - 6 )
             PERSONA RESIDENTE : R
             PERSONA NO RESIDENTE : E
             */
        }
    });

    //MANIPULAR EL CAMBIO DE TIPO DE DOCUMENTO
    $("#documento").on("change", function () {
        var selector = $("#numero");
        selector.val("");//SE LIMPIA EL INPUT

        //SI EL SELECT TIENE UN CAMPO DE ID
        if ($("#documento").val() != "-1") {
            selector.removeAttr("disabled");//HABILITAMOS EL INPUT

            //SI SE SELECCIONO COMO DOCUMENTO CEDULA
            if ($("#documento").val() == "1") {
                $("#numero").attr("maxlength", 16);
                $("#numero").mask("A00-CDEF00-0000B", {
                    translation: {
                        'A': { pattern: /[0-6]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
                        'B': { pattern: /[A-Za-z]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
                        'C': { pattern: /[0-3]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
                        'D': { pattern: /[0-9]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
                        'E': { pattern: /[0-1]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
                        'F': { pattern: /[0-9]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
                    }
                });
            } else {
                //CAMBIAR FORMATO SI ES PASAPORTE
                $("#numero").attr("maxlength", 10);
                $("#numero").mask("0000000000", {
                    translation: {
                        '0': { pattern: /[A-Za-z0-9]/ }//ACEPTAR VALORES ALFANUMERICOS
                    }
                });
            }
        } else {
            selector.attr("disabled", true);//DESHABILITAMOS EL INPUT
            selector.val("");//LIMPIAMOS EL INPUT NUMERO
        }
    });

    //BUSQUEDA DE EMPLEADO QUE NO ESTE REGISTRADO
    $("#numero").blur(function () {
        var dni = $(this).val().trim();//OBTENEMOS LA CEDULA DEL COLABORADOR

        if (dni != "") {
            $.ajax({
                type: "GET",
                url: "/Clientes/BuscarDatos/",
                data: {
                    cliente: dni
                },
                success: function (data) {
                    if (data.length != 0) {
                        $("#nombre").val(data.Nombre);
                        $("#apellido").val(data.Apellido);
                        $("#ruc").val(data.RUC);
                    }
                }
            });
        } else {
            $("#nombre").val("");
            $("#apellido").val("");
            $("#ruc").val("");
            $("#telefono").val("");
            $("#email").val("");
        }
    });
</script>