
@{
    Layout = null;
}

<style>
    .btn-default.active {
        background-color: #337ab7 !important;
        border-color: #2e6da4 !important;
        color: aliceblue !important;
    }
</style>

<div class="row">
    <div class="x_content">
        <form class="form-horizontal form-label-left">

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <label class="col-md-12 col-sm-12 col-xs-12">Proveedor</label>

                    <div id="tipo" class="btn-group btn-group-toggle" data-toggle="buttons">

                        <button class="btn btn-default active col-xs-6" type="button" value="false" name="comercio" id="comercio">
                            Comercio
                        </button>
                        <button class="btn btn-default col-xs-6" type="button" value="true" name="local" id="local">
                            &nbsp;  Local  &nbsp;
                        </button>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Teléfono", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                    <input id="telefono" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="9" data-minlength="9" autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("No RUC", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                    <input id="ruc" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="14" autocomplete="off" style="text-transform:uppercase;">
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Cédula", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                    <input id="cedula" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="16" autocomplete="off" disabled style="text-transform:uppercase;">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Nombre", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                    <input id="nombre" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="50" autocomplete="off">
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Apellido", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                    <input id="apellido" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="50" autocomplete="off" disabled>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("¿Retiene IR?", htmlAttributes: new { @class = "col-md-5 col-sm-5 col-xs-8" })
                    <label>
                        <input type="checkbox" class="js-switch ir" id="ir" checked />
                    </label>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Activo", htmlAttributes: new { @class = " col-md-3 col-sm-3 col-xs-4" })
                    <label>
                        <input type="checkbox" class="js-switch activo" id="activo" checked disabled />
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="ln_solid"></div>

                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                    <a onclick="CerrarModal()" class="btn btn-primary">Cerrar</a>
                    <a onclick="saveSeller()" class="btn btn-success">Guardar</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    //INICIALIZA LOS ELEMENTOS DE JQUERY A SWITCHERY
    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

    //CREA LOS ELEMENTOS DE SWITCHERY
    elems.forEach(function (html) {
        var switchery = new Switchery(html, { secondaryColor: '#CE2727' });
    });

    //EVENTO CLICK DEL BOTON COMERCIO PARA DESACTIVAR CAMPOS
    $("#comercio").click(function () {
        //DESACTIVO LOS CAMPOS
        $("#apellido").attr("disabled", true);
        $("#cedula").attr("disabled", true);

        //LIMPIO LOS VALORES DE LOS CAMPOS DESACTIVADOS
        $("#apellido").val("");
        $("#cedula").val("");

        //AGREGO LA CLASE ACTIVO AL BOTON SELECCIONADO
        if (!$("#comercio").hasClass("active")) {
            $("#comercio").toggleClass("active");
            $("#local").removeClass("active");
        }
    });

    //EVENTO CLICK DEL BOTON COMERCIO PARA ACTIVAR CAMPOS
    $("#local").click(function () {
        //ACTIVO LOS CAMPOS
        $("#apellido").attr("disabled", false);
        $("#cedula").attr("disabled", false);

        //AGREGO LA CLASE ACTIVO AL BOTON SELECCIONADO
        if (!$("#local").hasClass("active")) {
            $("#local").toggleClass("active");
            $("#comercio").removeClass("active");
        }
    });

    //AGREGAR EL TIPO DE FORMATO DE LOS CAMPOS
    $(document).ready(function () {
        //MASCARA PARA NUMERO TELEFONICO
        $("#telefono").mask("0000-0000");
        //MASCARA PARA EL NUMERO RUC
        $("#ruc").mask("A000000000000B", {
            translation: {
                'A': { pattern: /[0-6-EeJjNnRr]/ },//MODIFICAR PARA QUE ACEPTE NUMEROS Y LETRAS
                'B': { pattern: /[0-9-A-Z]/ }//MODIFICAR PARA QUE ACEPTE NUMEROS Y LETRAS
                /*
                 FORMATO DE RUC - PRIMERA LETRA
                 PERSONA JURIDICA : J
                 PERSONA NATURAL SIN CEDULA : N
                 PERSONA NATURAL CON CEDULA : NUMERO DE CEDULA ( 0 - 6 )
                 PERSONA RESIDENTE : R
                 PERSONA NO RESIDENTE : E
                 */
            }
        });
        $("#cedula").mask("A00-000000-0000B", {
            translation: {
                'A': { pattern: /[0-6]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
                'B': { pattern: /[A-Za-z]/ }//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
            }
        });
    });
</script>