@model ProyectoXalli_Gentelella.Models.Producto

@{
    ViewBag.Title = "Creación";
    Layout = null;
}

<div class="row">
    <div class="x_content">

        @using (Html.BeginForm("Create", "Productos", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div data-parsley-validate class="form-horizontal form-label-left">
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.Label("Código", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                        @Html.EditorFor(model => model.CodigoProducto, new { htmlAttributes = new { @class = "form-control col-md-12 col-sm-12 col-xs-12", @maxlength = 3, @id = "codigoProd", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.CodigoProducto, "", new { @class = "text-danger col-md-12 col-sm-12 col-xs-12" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.Label("Activo", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                        @Html.CheckBoxFor(model => model.EstadoProducto, new { @class = "js-switch col-md-12 col-sm-12 col-xs-12", @readonly = "readonly", @checked = "checked" })
                        @Html.ValidationMessageFor(model => model.EstadoProducto, "", new { @class = "text-danger col-md-12 col-sm-12 col-xs-12" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.Label("Producto", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                        @Html.EditorFor(model => model.NombreProducto, new { htmlAttributes = new { @class = "form-control col-md-12 col-sm-12 col-xs-12", @maxlength = 50, @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.NombreProducto, "", new { @class = "text-danger col-md-12 col-sm-12 col-xs-12" })
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.Label("Marca", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                        @Html.EditorFor(model => model.MarcaProducto, new { htmlAttributes = new { @class = "form-control col-md-12 col-sm-12 col-xs-12", @maxlength = 50, @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.MarcaProducto, "", new { @class = "text-danger col-md-12 col-sm-12 col-xs-12" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.Label("Categoría", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                        @Html.DropDownList("CategoriaId", null, htmlAttributes: new { @class = "js-example-basic-single select2_group form-control", @style = "width: 100%", @id = "categoria" })
                        @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger col-md-12 col-sm-12 col-xs-12" })
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        @Html.Label("Cantidad", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                        @Html.EditorFor(model => model.PresentacionProducto, new { htmlAttributes = new { @class = "form-control col-md-12 col-sm-12 col-xs-12", @id = "cantPrd", @maxlength = 50, @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.PresentacionProducto, "", new { @class = "text-danger col-md-12 col-sm-12 col-xs-12" })
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        @Html.Label("U/M", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                        @Html.DropDownList("UnidadMedidaId", null, htmlAttributes: new { @class = "js-example-basic-single select2_group form-control", @style = "width: 100%", @id = "um" })
                        @Html.ValidationMessageFor(model => model.UnidadMedidaId, "", new { @class = "text-danger col-md-12 col-sm-12 col-xs-12" })
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                        @Html.Editor("Cantidad", new { htmlAttributes = new { @class = "form-control has-feedback-left", @maxlength = 50, @autocomplete = "off", @placeholder = "Cant. Actual", id = "cantProd", @disabled = "disabled" } })
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                        @Html.EditorFor(model => model.CantidadMinProducto, new { htmlAttributes = new { @class = "form-control has-feedback-left", @maxlength = 50, @autocomplete = "off", @placeholder = "Cant. Mín.", id = "cantMin" } })
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        @Html.ValidationMessageFor(model => model.CantidadMinProducto, "", new { @class = "text-danger col-md-12 col-sm-12 col-xs-12" })
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                        @Html.EditorFor(model => model.CantidadMaxProducto, new { htmlAttributes = new { @class = "form-control has-feedback-left", @maxlength = 50, @autocomplete = "off", @placeholder = "Cant. Máx.", id = "cantMax" } })
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        @Html.ValidationMessageFor(model => model.CantidadMaxProducto, "", new { @class = "text-danger col-md-12 col-sm-12 col-xs-12" })
                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                        <a onclick="CerrarModal()" class="btn btn-primary">Cerrar</a>
                        <button id="btnGuardar" type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    //JS INICIALIZACION DE SWITCHERY - CHECKBOX
    $(document).ready(function () {

        var elem = document.querySelector('.js-switch');
        var init = new Switchery(elem);

        $("#cantPrd").val("1");


        //CARGA EL CODIGO DE BODEGA
        $.ajax({
            type: "GET",
            url: "/Productos/SearchCode",
            success: function (data) {
                $("#codigoProd").val(data);
            }
        });

        var agregar = '<option value="-1" selected>Seleccione</option>';
        $("#categoria").prepend(agregar);
        $("#um").prepend(agregar);
    });

    //INICIALIZAR EL SELECT2
    $('.js-example-basic-single').select2({
        //MODIFICAR LAS FRASES DEFAULT DE SELECT2
        language: {

            noResults: function () {

                return "No hay resultado";
            },
            searching: function () {

                return "Buscando...";
            }
        }
    });
</script>