
@{
    Layout = null;
}

<div class="row">
    <div class="x_content">
        <div data-parsley-validate class="form-horizontal form-label-left">

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Tipo de documento", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                    <select class="js-example-basic-single select2_group form-control" id="documentoD" style="width:100%">
                        <option value="-1">Seleccione</option>
                        <option value="1">Cedula</option>
                        <option value="2">Otro</option>
                    </select>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Número", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                    <input id="numeroD" class="form-control" type="text" autocomplete="off" disabled style="text-transform:uppercase" val="@ViewBag.Cliente">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Nombre", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                    <input id="nombreD" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="50" autocomplete="off" required>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Apellido", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                    <input id="apellidoD" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="50" autocomplete="off" required>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Html.Label("RUC", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                    <input id="rucD" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="14" autocomplete="off" required style="text-transform:uppercase">
                </div>

                <div class="col-md-5 col-sm-5 col-xs-12">
                    @Html.Label("Correo Electrónico", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                    <input id="emailD" class="form-control col-md-2 col-sm-2 col-xs-2" type="email" maxlength="50" autocomplete="off" required>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    @Html.Label("Teléfono", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                    <input id="telefonoD" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="9" autocomplete="off" required>
                </div>
            </div>

            <div class="form-group">
                <div class="ln_solid"></div>

                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                    @*<a onclick="CerrarModal()" class="btn btn-primary">Cerrar</a>*@
                    <button type="button" class="btn btn-success" onclick="guardarDiplomatico()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".close").remove();

        //OBTENER PARA VER SI HAY DATOS DE CLIENTE CLIENTE
        var cliente = $("#numeroD").attr("val");

        //SI ES DIFERENTE A VACIO
        if (cliente != 0) {
            $.ajax({
                type: "GET",
                url: "/Clientes/BuscarClienteD/",
                data: {
                    ClienteId: cliente
                },
                success: function (data) {
                    if (data != null) {
                        var ruc = data.RUC != null ? data.RUC : "";
                        var telefono = data.Telefono != null ? data.Telefono : "";

                        if (data.TipoDoc == 1) {
                            //LIMPIAR LOS INPUTS Y SELECT
                            $("#documentoD").val("1");
                            $('#documentoD').trigger('change'); // Notify any JS components that the value changed
                        } else {
                            //LIMPIAR LOS INPUTS Y SELECT
                            $("#documentoD").val("2");
                            $('#documentoD').trigger('change'); // Notify any JS components that the value changed
                        }

                        $("#numeroD").val(data.Cedula);
                        $("#nombreD").val(data.Nombre);
                        $("#nombreD").val(data.Nombre);
                        $("#apellidoD").val(data.Apellido);
                        $("#rucD").val(ruc);
                        $("#emailD").val(data.Email);
                        $("#telefonoD").val(telefono);

                        $("#documentoD").attr("disabled", true);
                    }
                }
            });
        }
    });

    //INICIALIZAR EL SELECT2
    $('.js-example-basic-single').select2({
        //MODIFICAR LAS FRASES DEFAULT DE SELECT2
        language: {
            noResults: function () {
                return "No hay resultado";
            },
            searching: function () {
                return "Buscando...";
            }
        }
    });

    //MASCARA DE NUMERO TELEFONICO
    $("#telefonoD").mask("A000-0000", {
        translation: {
            'A': { pattern: /[5-7-8]/ }
        }
    });

    //MASCARA PARA EL NUMERO RUC
    $("#rucD").mask("A000000000000B", {
        translation: {
            'A': { pattern: /[0-6-EeJjNnRr]/ },//MODIFICAR PARA QUE ACEPTE NUMEROS Y LETRAS
            'B': { pattern: /[0-9-A-Z]/ }//MODIFICAR PARA QUE ACEPTE NUMEROS Y LETRAS
            /*
             FORMATO DE RUC - PRIMERA LETRA
             PERSONA JURIDICA : J
             PERSONA NATURAL SIN CEDULA : N
             PERSONA NATURAL CON CEDULA : NUMERO DE CEDULA ( 0 - 6 )
             PERSONA RESIDENTE : R
             PERSONA NO RESIDENTE : E
             */
        }
    });

    //MANIPULAR EL CAMBIO DE TIPO DE DOCUMENTO
    $("#documentoD").on("change", function () {
        var selector = $("#numeroD");
        selector.val("");//SE LIMPIA EL INPUT

        //SI EL SELECT TIENE UN CAMPO DE ID
        if ($("#documentoD").val() != "-1") {
            selector.removeAttr("disabled");//HABILITAMOS EL INPUT

            //SI SE SELECCIONO COMO DOCUMENTO CEDULA
            if ($("#documentoD").val() == "1") {
                $("#numeroD").attr("maxlength", 16);
                $("#numeroD").mask("A00-000000-0000B", {
                    translation: {
                        'A': { pattern: /[0-6]/ },//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
                        'B': { pattern: /[A-Za-z]/ }//MODIFICAR EL ULTIMO DIGITO A SOLO LETRA
                    }
                });
            } else {
                //CAMBIAR FORMATO SI ES PASAPORTE
                $("#numeroD").attr("maxlength", 10);
                $("#numeroD").mask("0000000000", {
                    translation: {
                        '0': { pattern: /[A-Za-z0-9]/ }//ACEPTAR VALORES ALFANUMERICOS
                    }
                });
            }
        } else {
            selector.attr("disabled", true);//DESHABILITAMOS EL INPUT
            selector.val("");//LIMPIAMOS EL INPUT NUMERO
        }
    });

    //BUSQUEDA DE CLIENTE EN CASO DE QUE ESTE REGISTRADO
    $("#numeroD").blur(function () {
        //AGARRAR EL VALOR DE CEDULA
        var cedula = $(this).val().toUpperCase();

        //SI ES DIFERENTE A VACIO
        if (cedula != "") {
            $.ajax({
                type: "GET",
                url: "/Clientes/BuscarDato/",
                data: {
                    Cedula: cedula
                },
                success: function (data) {
                    if (data != null) {
                        var ruc = data.RUC != null ? data.RUC : "";
                        var telefono = data.Telefono != null ? data.Telefono : "";

                        $("#nombreD").val(data.Nombre);
                        $("#apellidoD").val(data.Apellido);
                        $("#rucD").val(ruc);
                        $("#emailD").val(data.Email);
                        $("#telefonoD").val(telefono);
                    }
                }
            });
        }
    });

    function guardarDiplomatico() {
        var nombre, apellido, documento, ruc, email, telefono, tipo;

        nombre = $("#nombreD").val();
        apellido = $("#apellidoD").val();
        documento = $("#numeroD").val().toUpperCase();
        ruc = $("#rucD").val().toUpperCase();
        email = $("#emailD").val();
        telefono = $("#telefonoD").val();
        tipo = $("#documentoD").val();

        if (validado() == true) {
            //FUNCION AJAX
            $.ajax({
                type: "POST",
                url: "/Facturaciones/saveDiplomatico",
                dataType: "JSON",
                data: {
                    Nombre: nombre, Apellido: apellido, Documento: documento, RUC: ruc,
                    Email: email, Telefono: telefono, Tipo: tipo
                },//OTRA MANERA DE ENVIAR PARAMETROS AL CONTROLADOR
                success: function (data) {
                    if (data.success) {
                        var r = data.cliente.RUC != null ? data.cliente.RUC : "N/A";

                        //ACTUALIZAR CAMPOS
                        $("#nombCliente").attr("val", data.cliente.Id);
                        $("#nombCliente").html(data.cliente.Nombre);
                        $("#rucCliente").html("RUC: " + r);

                        $("#small-modal").modal("hide"); //CERRAR MODAL
                        AlertTimer("Completado", data.message, "success");
                    } else
                        Alert("Error al almacenar", data.message, "error");//MENSAJE DE ERROR
                },
                error: function () {
                    Alert("Error al almacenar", "Intentelo de nuevo", "error");
                }
            });//FIN AJAX
        } else {
            Alert("Error", "Campos vacios", "error");
        }
    }

    //FUNCION PARA VALIDAR CAMPOS VACIOS
    function validado() {
        if ($("#nombreD").val() != "" && $("#apellidoD").val() != "" && $("#numeroD").val() != "" && $("#emailD").val() != "") {
            return true;
        } else
            return false;
    }//FIN FUNCTION
</script>