
@{
    ViewBag.Title = "Facturación";
}

<link href="~/Content/switchery.css" rel="stylesheet" />
<link href="~/Content/skins/all.css" rel="stylesheet" />
<link href="~/Content/select2.min.css" rel="stylesheet" />
<style>
    .form_wizard .stepContainer {
        height: 100% !important;
    }
</style>

<h1 value="@ViewBag.Message" id="mensaje" hidden></h1>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Facturación</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps">
                        <li>
                            <a href="#step-1">
                                <span class="step_no">1</span>
                                <span class="step_descr">
                                    Paso 1<br />
                                    <small>Buscar orden</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-2">
                                <span class="step_no">2</span>
                                <span class="step_descr">
                                    Paso 2<br />
                                    <small>Detalle de pago</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-3">
                                <span class="step_no">3</span>
                                <span class="step_descr">
                                    Paso 3<br />
                                    <small>Método de pago</small>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div id="step-1">
                        <div class="form-horizontal form-label-left">

                            <div class="form-group">

                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <label>Identificación</label>
                                    <input id="identificacion" class="form-control" type="text" maxlength="16" placeholder="Incluya guiones si es necesario" autocomplete="off" style="text-transform:uppercase!important;">
                                </div>

                                <div class="col-md-2 col-sm-2 col-xs-6" style="margin-top: 25px !important;">
                                    <button type="button" onclick="CargarParcial('/Busquedas/BuscarCliente/')" class="btn btn-primary"><i class="fa fa-search"></i> Buscar cliente</button>
                                </div>

                                <div class="col-md-3 col-sm-5 col-xs-7">
                                    <label>Cliente</label>
                                    <input id="nombreCliente" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" val="0" autocomplete="off" readonly>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-5">
                                    <label>Número RUC</label>
                                    <input id="rucOrden" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" autocomplete="off" readonly>
                                </div>

                                <div class="col-md-1 col-sm-6 col-xs-6" style="margin-top: 25px !important;">
                                    <button type="button" id="btnBuscarOrd" onclick="buscarOrden()" class="btn btn-primary">Buscar</button>
                                </div>
                            </div>
                            <br />
                            <div class="table-responsive">
                                <table class="table table-hover jambo_table" id="tableInicio">
                                    <thead>
                                        <tr class="headings" id="flatButton">
                                            <th class="column-title">No. Orden</th>
                                            <th class="column-title">Fecha Ordenada</th>
                                            <th class="column-title">Cliente</th>
                                            <th class="column-title">Mesero</th>
                                            <th class="column-title">Sub-Total</th>
                                            <th class="bulk-actions" colspan="6">
                                                <a class="antoo" style="color:#fff; font-weight:500;">Ha seleccionado <span class="action-cnt"> </span> </a>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody id="bodyOrden"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="step-2">
                        <div class="form-horizontal form-label-left">
                            <br />

                            <div id="dataId" hidden></div>

                            <div class="row invoice-info" id="headMaster">
                                <!--AQUI VA EL ENCABEZADO DE CLIENTE-->
                            </div>

                            <section class="content invoice">

                                <div class="row">
                                    <div class="col-xs-12 table">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Cantidad</th>
                                                    <th>Precio Unitario</th>
                                                    <th style="width: 59%">Platillo/Bebida</th>
                                                    <th>Subtotal</th>
                                                </tr>
                                            </thead>
                                            <tbody id="bodyDetalle"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <a></a>

                                <div class="row">
                                    <div class="col-xs-6 col-xs-offset-6">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody id="bodyFooter">
                                                    <tr>
                                                        <th style="width:50%">Subtotal:</th>
                                                        <td id="subTotalOrden">$ 0</td>
                                                    </tr>
                                                    <tr>
                                                        <th>IVA (15%)</th>
                                                        <td id="ivaOrden">$ 0</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Total:</th>
                                                        <td id="totalOrden">$ 0</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div id="step-3">
                        <div class="form-horizontal form-label-left">
                            <div class="col-md-12 invoice-header">
                                <div class="col-md-6">
                                    <h3 id="factNo"></h3>
                                </div>
                                <div class="col-md-6">
                                    <h3 id="fechaFact"></h3>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <br />

                                <div class="form-group col-md-3 col-sm-3 col-xs-3">
                                    <label>Cambio</label>
                                    <input id="cambio" class="form-control" type="text" autocomplete="off" readonly>
                                </div>

                                <div class="form-group col-md-2 col-sm-4 col-xs-4">
                                    <label>Descuento</label>
                                    <input id="descuentoPago" class="form-control" type="text" maxlength="3" placeholder="10%" autocomplete="off">
                                </div>

                                <div class="form-group col-md-3 col-sm-3 col-xs-3">
                                    <label>Moneda</label>
                                    @Html.DropDownList("MonedaId", null, htmlAttributes: new { @class = "js-example-basic-single select2_group form-control", @style = "width: 100%", @id = "monedaPropina" })
                                </div>

                                <div class="form-group col-md-3 col-sm-4 col-xs-4">
                                    <label>Propina</label>
                                    <input id="propinaPago" class="form-control" type="text" maxlength="8" autocomplete="off">
                                </div>

                                <div class="form-group col-md-1 col-sm-4 col-xs-4" style="margin-top: 25px !important;">
                                    <a class="btn btn-primary" onclick="agregarVal()"><i class="fa fa-plus"></i></a>
                                </div>

                                <div class="col-xs-12 col-md-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Dólares</th>
                                                    @*<th>Córdobas</th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="bodyPago">
                                                <tr>
                                                    <th style="width:80%">Subtotal:</th>
                                                    <td id="subDol"></td>
                                                    @*<td id="subCord"></td>*@
                                                </tr>
                                                <tr>
                                                    <th>IVA (15%)</th>
                                                    <td id="ivaDol"></td>
                                                    @*<td id="ivaCord"></td>*@
                                                </tr>
                                                <tr>
                                                    <th id="txtDesc">Descuento:</th>
                                                    <td id="descDol"></td>
                                                    @*<td id="descCord"></td>*@
                                                </tr>

                                                <tr>
                                                    <th id="propina">Propina:</th>
                                                    <td id="propDol"></td>
                                                    @*<td id="propCord"></td>*@
                                                </tr>

                                                <tr>
                                                    <th>Total Dólares:</th>
                                                    <td id="totalDol"></td>
                                                </tr>
                                                <tr>
                                                    <th>Total Córdobas:</th>
                                                    <td id="totalCord"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-7">
                                <br />

                                <div class="form-group col-md-3 col-sm-3 col-xs-3">
                                    <label>Forma de Pago</label>
                                    @Html.DropDownList("FormaPagoId", null, htmlAttributes: new { @class = "js-example-basic-single select2_group form-control", @style = "width: 100%", @id = "metPago" })
                                </div>

                                <div class="form-group col-md-2 col-sm-3 col-xs-3">
                                    <label>Moneda</label>
                                    @Html.DropDownList("MonedaId", null, htmlAttributes: new { @class = "js-example-basic-single select2_group form-control", @style = "width: 100%", @id = "monedaPago" })
                                </div>

                                <div class="form-group col-md-2 col-sm-3 col-xs-3">
                                    <label>Monto Pagar</label>
                                    <input id="pagar" class="form-control" type="text" maxlength="8" autocomplete="off">
                                </div>

                                <div class="form-group col-md-3 col-sm-3 col-xs-3">
                                    <label>Monto Recibido</label>
                                    <input id="rec" class="form-control" type="text" maxlength="8" autocomplete="off">
                                </div>

                                <div class="form-group col-md-2 col-sm-4 col-xs-4" style="margin-top: 25px !important;">
                                    <a class="btn btn-primary" onclick="agregarPago()"><i class="fa fa-plus"></i></a>
                                </div>


                                <div class="col-md-12">
                                    <table class="table table-hover" id="tablePagos">
                                        <thead>
                                            <tr>
                                                <th>Pago</th>
                                                <th>Moneda</th>
                                                <th>Pagar</th>
                                                <th>Recibido</th>
                                                <th>Entregado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bodyPagar"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2">Total dólares</td>
                                                <td id="footDol">$ 0</td>
                                                <td>Total córdobas</td>
                                                <td colspan="2" id="footCord">C$ 0</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_small-modal")
@Html.Partial("_xsModal")

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/jquery-ui-dist.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/Operaciones/ventanas.js"></script>
    <script src="~/Scripts/jquery.smartWizard.js"></script>
    <script src="~/Scripts/switchery.js"></script>
    <script src="~/Scripts/icheck.js"></script>
    <script src="~/Scripts/select2.full.min.js"></script>
    <script src="~/Scripts/Movimientos/facturaciones.js"></script>
}