@model ProyectoXalli_Gentelella.Models.Menu

@{
    Layout = null;
}

<style>
    .form_wizard .stepContainer {
        min-height: 200px !important;
    }
</style>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">

        <div id="wizard" class="form_wizard wizard_horizontal">
            <ul class="wizard_steps">
                <li>
                    <a href="#step-1">
                        <span class="step_no">1</span>
                        <span class="step_descr">
                            Paso 1<br />
                            <small>Agrega un Platillo</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#step-2">
                        <span class="step_no">2</span>
                        <span class="step_descr">
                            Paso 2<br />
                            <small>Agrega su Receta</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#step-3">
                        <span class="step_no">3</span>
                        <span class="step_descr">
                            Paso 3<br />
                            <small>Agrega una Imagen</small>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="stepContainer">

                <div id="step-1">

                    <div class="form-horizontal form-label-left">

                        <div class="col-md-9 center-margin">

                            <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                @Html.Label("Código", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-12" })
                                <input id="codigoMenu" class="form-control col-md-2 col-sm-2 col-xs-2" required="required" type="text" maxlength="3" autocomplete="off" readonly>
                            </div>

                            <div class="form-group col-md-8 col-sm-8 col-xs-8">
                                @Html.Label("Descripción", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-12" })
                                <input id="platillo" class="form-control col-md-2 col-sm-2 col-xs-2" required="required" type="text" maxlength="50"
                                       autocomplete="off" style="text-transform:capitalize !important;" data-validate="true" data-error="Campo obligatorio">
                            </div>

                            <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                @Html.Label("Precio", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-12" })
                                <input id="precio" class="form-control col-md-2 col-sm-2 col-xs-2" required="required" type="text" autocomplete="off"
                                       data-validate="true" data-error="Campo obligatorio">
                            </div>

                            <div class="form-group col-md-8 col-sm-8 col-xs-8">
                                @Html.Label("Categoría", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                                @Html.DropDownList("CategoriaId", null, "- Seleccione -", htmlAttributes: new { @class = "js-example-basic-single form-control", @Style = "width:100%", @id = "categoria" })
                            </div>
                        </div>

                    </div>
                </div>
                <div id="step-2">

                    <div class="col-md-8 center-margin">

                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            @Html.Label("Tiempo preparación", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                            <input id="tiempo" class="form-control col-md-2 col-sm-2 col-xs-2" type="text" maxlength="10" autocomplete="off"
                                   placeholder="Dejar vacío para pedidos inmediatos">
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            @Html.Label("Producto", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12" })
                            <select class="js-example-basic-single form-control" id="ingredientes" style="width:100%!important;" multiple disabled></select>
                        </div>
                    </div>

                </div>
                <div id="step-3">
                    <div class="col-md-8 center-margin">

                        <div>
                            <label class="btn btn-default search-file-btn">
                                <input id="file" name="file1" type="file" accept="image/*" style="display:None;"> <span>Examinar</span>
                            </label>
                            <span class="label label-default"> x Ninguna imagen seleccionada</span>
                        </div>


                        <div id="preview" class="img-preview preview-md">
                            <img id="img" src="~/images/Menu/Insert-image.jpg" style="width:100%;height:200px;" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- End SmartWizard Content -->
        </div>
    </div>
</div>

<script>
    //CAMBIAR EL MENU POR CATEGORIAS
    $("#categoria").on("change", function () {

        //LIMPIA EL SELECT DE INGREDIENTE
        $('#ingredientes').val("-1");
        $('#ingredientes').trigger('change'); // Notify any JS components that the value changed

        $.ajax({
            type: "GET",
            url: "/Menus/ComprobarArea/" + $(this).val(),//MANDO EL ID DE LA CATEGORIA
            dataType: "JSON",
            success: function (bar) {
                //SI SELECT CATEGORIA NO TIENE SELECCIONADO ALGO
                if ($(this).val != 0) {
                    $("#ingredientes").removeAttr("disabled");
                    //SI LA CATEGORIA CORRESPONDE AL AREA DE BAR
                    if (bar === true) {
                        $("#ingredientes").removeAttr("multiple");
                    } else {
                        $("#ingredientes").attr("multiple", true);
                    }
                } else {
                    $("#ingredientes").attr("disabled", true);
                }
            }
        });
    });

    //INICIALIZAR EL SELECT2
    $('.js-example-basic-single').select2({
        //MODIFICAR LAS FRASES DEFAULT DE SELECT2
        placeholder: "- Seleccione -",//CARGAR PRIMERO EL PLACEHOLDER
        language: {

            noResults: function () {

                return "No hay resultado";
            },
            searching: function () {

                return "Buscando...";
            }
        }
    });

    $(document).ready(function () {
        //INICIALIZARDOR DE MASCARA FORMATO PRECIO
        $("#precio").mask('0,000.00', { reverse: true });


        //CARGA EL CODIGO DE PLATILLO
        $.ajax({
            type: "GET",
            url: "/Menus/SearchCode",
            success: function (data) {
                $("#codigoMenu").val(data.data);
            }
        });

        //INICIALIZADOR DE STEP WIZARD
        $('#wizard').smartWizard();

        //CARGA LAS PRESENTACIONES DEL PRODUCTO
        $.ajax({
            type: "GET",
            url: '/Menus/ProductoPresentacion',
            dataType: 'JSON',
            success: function (data) {

                var agregar = "";

                for (var i = 0; i < Object.keys(data).length; i++) {
                    agregar += '<option value="' + data[i].Id + '">' + data[i].Presentacion + '</option>';
                }

                $("#ingredientes").append(agregar);
            },
            error: function () {
                alert("Error");
            }
        });
    });

    //SCRIPT PARA CARGAR UNA IMAGEN AUTOMATICAMENTE
    document.getElementById("file").onchange = function (e) {
        // Creamos el objeto de la clase FileReader
        let reader = new FileReader();

        // Leemos el archivo subido y se lo pasamos a nuestro fileReader
        reader.readAsDataURL(e.target.files[0]);

        // Le decimos que cuando este listo ejecute el código interno
        reader.onload = function () {
            let preview = document.getElementById('preview'),
                image = document.getElementById('img');

            image.src = reader.result;

            preview.innerHTML = '';
            preview.append(image);
        };
    }

    //AGREGAR EL NOMBRE DEL ARCHIVO EN LA ETIQUETA
    $().ready(function ($) {
        $('.search-file-btn').children("input").bind('change', function () {
            var fileName = '';
            fileName = $(this).val().split("\\").slice(-1)[0];
            $(this).parent().parent().children("span").html(fileName);
        })
    });
</script>
