@model ProyectoXalli_Gentelella.Models.ChangePasswordViewModel
@{
    Layout = null;
}

<div class="row">

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { onsubmit = "return SubmitFormPassword(this)" })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                <div class="input-group">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @id = "oldPass" })
                    <span class="input-group-btn">
                        <button type="button" onclick="mostrarPassword('oldPass')" class="btn btn-primary"><span class="oldPass fa fa-eye-slash"></span></button>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                <div class="input-group">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @id = "newPass" })
                    <span class="input-group-btn">
                        <button type="button" onclick="mostrarPassword('newPass')" class="btn btn-primary"><span class="newPass fa fa-eye-slash"></span></button>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                <div class="input-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "newPassConf" })
                    <span class="input-group-btn">
                        <button type="button" onclick="mostrarPassword('newPassConf')" class="btn btn-primary"><span class="newPassConf fa fa-eye-slash"></span></button>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="ln_solid"></div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cambiar contraseña" class="btn btn-success" />
                </div>
            </div>
            <br />
        </div>
    }
</div>

<script>
    $("#small-modaltitle").html("Cambiar contraseña");

    function mostrarPassword(id) {
        var cambio = document.getElementById(id);
        if (cambio.type == "password") {
            cambio.type = "text";
            $('.' + id).removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        } else {
            cambio.type = "password";
            $('.' + id).removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        }
    }
</script>