@model ProyectoXalli_Gentelella.Models.TipoDeOrden

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<div class="row">
    <div class="x_content">

        @using (Html.BeginForm("Edit", "TiposDeOrden", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CodigoTipoOrden)

            <div data-parsley-validate class="form-horizontal form-label-left">
                <div class="form-group">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        @Html.Label("Código", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                        @Html.EditorFor(model => model.CodigoTipoOrden, new { htmlAttributes = new { @class = "form-control col-md-2 col-sm-2 col-xs-2", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.CodigoTipoOrden, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-1">
                        @Html.Label("Activo", htmlAttributes: new { @class = "col-md-12 col-sm-12 col-xs-12", @id = "estadoTipoO" })
                        <label>
                            @Html.CheckBoxFor(model => model.EstadoTipoOrden, new { @class = "js-switch col-md-2 col-sm-2 col-xs-2", @onclick = "Check()" })
                            @Html.ValidationMessageFor(model => model.EstadoTipoOrden, "", new { @class = "text-danger" })
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.Label("Tipo de orden", htmlAttributes: new { @class = "col-md-3 col-sm-3 col-xs-12" })
                        @Html.EditorFor(model => model.DescripcionTipoOrden, new { htmlAttributes = new { @class = "form-control", @maxlength = 50, @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.DescripcionTipoOrden, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="ln_solid"></div>

                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                        <a onclick="CerrarModal()" class="btn btn-primary">Cerrar</a>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    var elem, init;

    //INICIALIZAR EL CHECKBOX
    $(document).ready(function () {

        elem = document.querySelector('.js-switch');
        init = new Switchery(elem, { secondaryColor: '#CE2727' });

        if (elem.checked) {
            $("#estadoTipoO").html("Activo");
        } else {
            $("#estadoTipoO").html("Inactivo");
        }
    });

    //CONFIRMACION DE ACTIVAR/DESACTIVAR
    function Check() {

        //DEPENDE DE SU ESTADO MANDAMOS UN ALERT
        if (!elem.checked) {

            swal({
                title: "¿Desea desactivar el registro?",
                icon: "warning",
                closeOnClickOutside: false,
                closeOnEsc: false,
                buttons: {
                    activar: {
                        text: "No",
                        value: "activar" //VALOR PARA UTILIZARLO EN EL SWITCH
                    },
                    desactivar: {
                        text: "Sí",
                        value: "desactivar" //VALOR PARA UTILIZARLO EN EL SWITCH
                    }
                }//FIN DE BUTTONS
            })//FIN DEL SWAL
                .then((value) => {
                    switch (value) {

                        case "activar":
                            //ACTIVAR EL CHKBOX
                            elem.click();
                            $("#estadoTipoO").html("Activo");
                            break;

                        case "desactivar":
                            //DESACTIVAR EL CHKBOX
                            swal.close();
                            $("#estadoTipoO").html("Inactivo");
                            break;

                        default: swal.close();
                    }//FIN SWITCH
                });//FIN THEN
        } else {
            $("#estadoTipoO").html("Activo");
        }//FIN IF CHKBOX
    }//FIN FUNCION
</script>